html{
    height: 100%;
}

body{
    font-size: 1.2rem;
    background-color: #e6f7ff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    height: 100%;
}

h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

.titHolder{
    padding: 20px;
    color: white;
    background-color: royalblue;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 0px;
}

.subHead{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

button{
    background-color: #1f35a2;
    color: white;
    border: 2px solid #1f35a2;
    font-size: 1.3rem;
    padding: 15px 60px;
    transition: background-color 100ms linear;
}

button:hover{
    background-color: #192b55;
    border-color: #192b55;
    cursor: pointer;
}

.canvasRuleta{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.girarInput{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

.cosas{
    color: #f06895;
}

.grupsParticipants{
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 30%;
    width: 200px;
    background-color: royalblue;
    padding: 10px;
}

.grupCard{
    color: white;
    background-color: rgb(58, 82, 151);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    transition: background-color 100ms linar, color 100ms linear;
}

.grupCard .punts{
    float: right;
    background-color: white;
    color: royalblue;
    padding: 7px 15px;
    border-radius: 24px;
    text-align: center;
    font-size: 1.7rem;
    margin-top: -4px;
    transition: background-color 100ms linar, color 100ms linear;
}

.grupCard.active{
    background-color: white;
    color: royalblue;
}

.grupCard.active .punts{
    background-color: royalblue;
    color: white;
}

/* MODAL STUFF */
.modalHolder{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modalContent{
    background-color:royalblue;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 88%;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    min-height: 250px;
    text-align: center;
}

.modalButtons{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
}

.modalButtons button{
    margin-right: 5px;
}

input[type="number"]{
    display: block;
    margin-top: 15px;
    border: none;
    font-size: 1.6rem;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#avisModal{
    font-size: 0.9rem;
}

select{
    padding: 10px 30px;
    border: 2px solid white;
    background-color: white;
    font-size: 1.1rem;
    margin-top: 10px;
}

.dauRotador{
    background-image: url(./img/dice-6.png);
    height: 95px;
    width: 95px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
    margin-top: 40px;
}

.dauRotador.rotant{
    animation: dauWiggle 200ms;
    animation-iteration-count: infinite;
}

.dauRotador.d1{
    background-image: url(./img/dice-1.png);
}

.dauRotador.d2{
    background-image: url(./img/dice-2.png);
}

.dauRotador.d3{
    background-image: url(./img/dice-3.png);
}

.dauRotador.d4{
    background-image: url(./img/dice-4.png);
}

.dauRotador.d5{
    background-image: url(./img/dice-5.png);
}

.dauRotador.d6{
    background-image: url(./img/dice-6.png);
}

@keyframes dauWiggle {
  0%{transform: translate(0px, 0px);}
  25%{transform: translate(-3px, 0px);}
  75%{transform: translate(3px, 0px);}
  100%{transform: translate(0px, 0px);}
}

.guerrIn{
    display: inline !important;
}

.acabarInput{
    position: absolute;
    top: 30%;
    right: 20px;
    width: 200px;
}

.acabarInput button{
    font-size: 1.1rem;
    padding: 15px 0px;
    width: 100%;
}

.rondText{
    font-size: 1.8rem;
    font-weight: bold;
}

.rondText #rondCont{
    font-weight: normal;
}